HTTP_PORT=":8080"

DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres_password"
DB_NAME="shop_db"
DB_SSLMODE="disable"

JWT_SECRET="your-secret-key-at-least-32-characters-long"
JWT_TTL="24h"
